* {
    margin: 0;
    padding: 0;

}

body {
    width: 1400px;
    box-sizing: border-box;
}

.preHead {
    background-color: #f0f2f4;
    box-shadow: 0 1px 0 0 #e2e2e2;
    height: 42px;
    display: flex;
    align-items: center;
}

.mobile {
    padding-left: 893px;
}

.mobileNum {
    padding-left: 12px;
}

.mailImg {
    padding-left: 45px;
}

.mail {
    padding-left: 10px;
    font-weight: 500;
    letter-spacing: 0.2px;
}

.fb {
    border-radius: 3px;
    background-color: #1287bf;
    width: 26px;
    height: 26px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

header {
    height: 131px;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: space-between;
}

.logo img {
    margin-left: 190px;
}

.logoTxt__bus {
    font-family: 'Roboto', sans-serif;
    color: #424242;
    font-size: 37px;
    font-weight: 700;
    margin-left: 10px;
    letter-spacing: 0.8px;
}

.logoTxt__tag {
    font-family: 'Roboto', sans-serif;
    color: #424242;
    font-size: 15px;
    font-weight: 400;
    margin-left: 10px;
}

.list {
    display: inline-flex;
    align-items: center;
}

.point {
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background: black;
    margin: 0 18px;

}

.list button {
    border-radius: 4px;
    background-color: #de2b24;
    width: 171px;
    height: 36px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    margin-left: 33px;
    letter-spacing: 0.5px;
}

.list {
    font-family: 'Roboto', sans-serif;
    color: #424242;
    font-size: 15px;
    font-weight: 700;
    margin-left: 195px;
}

.list span:hover {
    color: #de2b24;
    cursor: pointer;
}

.firstSection {
    height: 590px;
    background-image: url("../images/Layer32.png");
    text-align: center;
}

.firstSection__we {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    padding-top: 170px;
    letter-spacing: 1.2px;
}

.firstSection__media {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -0.2px;
}

.firstSection button {
    background-color: #f8cd53;
    border-radius: 10px;
    width: 330px;
    height: 69px;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 23px;
    font-weight: 700;
    margin-top: 30px;
    letter-spacing: 1.3px;
}

.secondSection {
    height: 566px;
    text-align: center;
}

.about {
    font-family: 'Roboto', sans-serif;
    color: #424242;
    font-size: 36px;
    font-weight: 700;
    line-height: 26px;
    padding-top: 102px;
    letter-spacing: 1.3px;
}

.weAre {
    font-family: 'Roboto', sans-serif;
    color: #424242;
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    padding: 8px 0 4px 0;
}

.info {
    margin: 40px 120px 0 120px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.info__boldTxt {
    font-family: 'Roboto', sans-serif;
    color: #424242;
    font-size: 23px;
    font-weight: 700;
    padding: 17px 0 5px 0;
}

.loremIpsum {
    margin: 0 50px;
    font-family: 'OpenSans', sans-serif;
    color: #5c5c5c;
    font-size: 15px;
/ font-weight: 400;
    line-height: 22px;
    width: 238px;
}

.thirdSection {
    background-color: #de2b24;
    height: 870px;
    text-align: center;
}

.ourWork {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 38px;
    font-weight: 700;
    line-height: 39px;
    padding-top: 105px;
}

.weAdded {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
}

.shape {
    margin: 7px 0 43px 0;
}

.table {
    display: inline-flex;
    flex-wrap: wrap;
    width: 1028px;
}

.table > div {
    background-color: #f35e59;
    width: 255px;
    height: 253px;
}

.table > div > img {
    margin-top: 75px;
}

.project {
    font-family: 'HelveticaNeue', sans-serif;
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
    margin-top: 15px;
}

.projectInfo {
    font-family: 'HelveticaNeue', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}

.fourthSection {
    background-color: #2a2a2a;
    height: 490px;
    text-align: center;
}

.getIn {
    font-family: 'HelveticaNeue', sans-serif;
    color: #ffffff;
    font-size: 29px;
    font-weight: 700;
    padding: 87px 0 22px 0;
}

.logos {
    display: inline-flex;
}

.logos > .redBorder {
    border-radius: 3px;
    border: 2px solid #de2b24;
}

.logos > div {
    border-radius: 3px;
    border: 2px solid #515151;
    background-color: rgba(243, 243, 243, 0);
    width: 45px;
    height: 45px;
    margin: 0 10px;
}

.logos i {
    color: #ffffff;
    padding-top: 15px;
}

.subscribe {
    font-family: 'OpenSans', sans-serif;
    color: #cecece;
    font-size: 14px;
    font-weight: 400;
    margin: 34px 0 31px 0;
    letter-spacing: 0.5px;
}

.fourthSection input {
    border-radius: 1px;
    background-color: #515151;
    width: 683px;
    height: 54px;
    border: none;
    text-indent: 20px;
    letter-spacing: 0.5px;
}

.fourthSection button {
    border-radius: 1px;
    border: 2px solid #515151;
    background-color: rgba(243, 243, 243, 0);
    width: 153px;
    height: 53px;
    font-family: 'Helvetica', sans-serif;
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    margin-top: 26px;
}

footer {
    background-color: #515151;
    width: 1400px;
    text-align: center;
    font-family: 'OpenSans', sans-serif;
    color: #cecece;
    font-size: 14px;
    font-weight: 400;
    line-height: 67px;
    letter-spacing: 0.1px;
}


